<!DOCTYPE html>
<html>
  <head>
    <title>SchoolTreasure</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

  </head>

  <body>

  <nav>
    <div class="nav-wrapper indigo darken-4">
      <a href="/dashboard" class="brand-logo">👻 Flatiron School Treasure App</a>
      <ul id="nav-mobile" class="right">
        <li><%= link_to "Dashboard", "/dashboard" %></li>
        <% if logged_in? %>
          <li><%= link_to "Logout", "/sessions/:id", method: :post %></li>
        <% else %>
          <li>BOO!!!</li>
        <% end %>  
      </ul>
    </div>
  </nav>


<div class="row lime lighten-3">
  <div class="col l3"></div>
<% flash.each do |k, v| %>
  <div id="col l6"><%= v %></div>
<% end %>
  <div class="col l3"></div>
</div>

    <div class="container">
       <%= yield %>
     </div>
  </body>
</html>
